@charset "utf-8";
.style_head{
	color:firebrick;
	font-family:Arial;
}
.style_text_eng{
	color:gold;
	font-family: Arial;
}
.style_text_per{
	color: gold;
	font-family: "B Nazanin";
}

.style_button{
    border-radius: 100%;
    background-color: #2D455D;
    transition-duration: 0.5s;
    border:none;
    border-style:none;
}
.style_button:hover {
    box-shadow: 0px 25px 25px 0px black;
}
.bg{
	background:rgba(46,46,46,1.00);
}

